<h1 style="text-align: center; margin: 40 auto">To do list</h1>

<div class="container">
    <div class="row">
        <ul class="col-md-4" id="completedDiv">
            <h2>Completed</h2>
            {{#each todo}}
            {{#if completed}}
            <div class="card">
                {{task}}
            </div>
            {{/if}}
            {{/each}}
        </ul>

        <form class="col-md-4" id="textArea">
            <div class="form-group">
                <textarea class="form-control" placeholder="Enter a new task here" id="taskTextArea"
                    rows="3"></textarea>
            </div>
            <button type="submit" id="newTaskBtn" class="btn btn-primary">Add to tasks</button>
        </form>

        <ul class="col-md-4" id="completedDiv">
            <h2>Need to do</h2>
            {{#each todo}}
            {{#unless completed}}
            <div class="card">
                {{task}}
                <div class="cardButtons">
                    <form>
                        <input type="hidden" name="complete" value="1">
                        <button type="submit" class="btn btn-info btn-xs completeBtn" data-value={{id}}>Complete!
                        </button>
                    </form>
                    <form>
                        <button type="submit" class="btn btn-danger btn-xs deleteBtn" data-value={{id}}>Delete
                            Task</button>
                    </form>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </ul>

    </div>
</div>